main {
    min-height: calc(100vh - 160px);
  }

.card{
  width: 100%;
  
}
  .card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-body {
  height: 200px; 
  width: 100%;
  overflow: auto;

}