main {
    min-height: calc(100vh - 160px);
  }

  .carousel img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-body {
  height: 200px; 
  overflow-y: auto;  
}